/*!
 * CSS theBsharps - v. 2.0
 * 2015 - The B Sharps
 * Based on Bootstrap
*/

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.72222;
  background-color: #ffffff;
}

a{
  color: #333333;
}

a:hover{
  color: #333333;
  background-color: #ffffff;
  text-decoration: none;
}

.navbar-default {
background: #333333;
background: -moz-linear-gradient(top, #333333 0%, #262626 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#262626));
background: -webkit-linear-gradient(top, #333333 0%,#262626 100%);
background: -o-linear-gradient(top, #333333 0%,#262626 100%);
background: -ms-linear-gradient(top, #333333 0%,#262626 100%);
background: linear-gradient(to bottom, #333333 0%,#262626 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#262626',GradientType=0 );
border: none;
border-radius: 0;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ededed;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #FFFFFF;
background: #99bfcf;
background: -moz-linear-gradient(top, #99bfcf 0%, #99bfcf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99bfcf), color-stop(100%,#99bfcf));
background: -webkit-linear-gradient(top, #99bfcf 0%,#99bfcf 100%);
background: -o-linear-gradient(top, #99bfcf 0%,#99bfcf 100%);
background: -ms-linear-gradient(top, #99bfcf 0%,#99bfcf 100%);
background: linear-gradient(to bottom, #99bfcf 0%,#99bfcf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bfcf', endColorstr='#99bfcf',GradientType=0 );
border-radius: 5px;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #333333;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ededed;
  background-color: #99bfcf;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #0099c0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #99bfcf;
background: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
color: #FFFFFF;
background: #99bfcf;
background: -moz-linear-gradient(top, #99bfcf 0%, #99bfcf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99bfcf), color-stop(100%,#99bfcf));
background: -webkit-linear-gradient(top, #99bfcf 0%,#99bfcf 100%);
background: -o-linear-gradient(top, #99bfcf 0%,#99bfcf 100%);
background: -ms-linear-gradient(top, #99bfcf 0%,#99bfcf 100%);
background: linear-gradient(to bottom, #99bfcf 0%,#99bfcf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bfcf', endColorstr='#99bfcf',GradientType=0 );
}

.navbar-default .navbar-toggle {
  border-color: #666;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: #99bfcf;
background: -moz-linear-gradient(top, #99bfcf 0%, #99bfcf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99bfcf), color-stop(100%,#99bfcf));
background: -webkit-linear-gradient(top, #99bfcf 0%,#99bfcf 100%);
background: -o-linear-gradient(top, #99bfcf 0%,#99bfcf 100%);
background: -ms-linear-gradient(top, #99bfcf 0%,#99bfcf 100%);
background: linear-gradient(to bottom, #99bfcf 0%,#99bfcf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99bfcf', endColorstr='#99bfcf',GradientType=0 );
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #ededed;
}

.nav li a:hover{
    background: transparent;
}
.panel-default .panel-heading{
    background-color: #9bbfd1;
}

/*  CSS for the main navigation menu */
.navbar-default .navbar-nav>li>a {
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ededed;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ededed;
    background-color: #0099c0;
  }
}

/* CSS for breadcrumbs */
.breadcrumb{
  background: #9bbfd1;
}

.breadcrumb>.active {
    color: #ffffff;
}

/* CSS for footer */
footer{
  background: #232323;
  color: #837E76;
  border-top: 2px solid #99bfcf;
}

footer a{
  color: #99bfcf;
}
footer a:hover{
  color: #99bfcf;
}

/* CSS for the side box menus */
.menu-column .panel-default .panel-heading a {
    font-family: Georgia, Times, "Times New Roman", serif;
}

.menu-column .panel-default .panel-heading{
   background-color: #99bfcf;
   border-color: #444;
}

.menu-column .panel-default .panel-heading a{
    color: #ffffff;
}

.menu-column .nav li a:hover{
  color: #333333;
  background-color: #ffffff;
}

.social-network-menu .nav li a:hover {
  color: #333333;
  background-color: #ffffff;
}

.social-network-menu .nav-pills li.active a {
    color: #99bfcf;
}

.panel-body{
    background-color: #f5f5f5;
}

.panel-title {
    color: #ffffff;
    font-family: Georgia, Times, "Times New Roman", serif;
}

.panel-default .panel-heading  a {
    color: #ffffff;
}

#page-content .panel{
    background: none;
    border: 1px solid #D3D3D3;
    box-shadow: none;
}

/* CSS for primary buttons */
.btn-primary {
    background-color: #333333;
    border-color: #333333;
}

/* CSS for primary buttons on hover */
.btn-primary:hover {
  background-color: #333333;
  border-color: #333333;
}

/* CSS for teacher view button */
.btn-success {
    background-color: #333333;
    border-color: #333333;
}

.btn-success:hover {
  background-color: #333333;
  border-color: #333333;
}

/* CSS for title header */
.page-header {
  font-family: Georgia, Times, "Times New Roman", serif;
}

/* CSS for the tables, code modified from: http://codepen.io/georgearnall/pen/AHIfq and http://dabblet.com/gist/2017985 */
td, th {
    padding: 2px;
}

table {
    margin: 20px 0px;
    border-radius: 5px;
    border-collapse: separate;
    border-color: #ddd;
    border-bottom: thin solid #ddd;
    border-right: thin solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

tbody tr:nth-child(even) {
    background: #f5f5f5;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

td:last-child {
  	border-right: none;
}

td {
    border-color: transparent;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
}

tr:last-child td {
  	border-bottom: none;
}

/* CSS to remove main navigation side menu */
#navigation_link_block {
    display: none;
}

/* CSS to remove search from the side menu */
#search_block {
    display: none;
}

/* CSS to remove skills from the side menu */
#skill_block {
    display: none;
}

/* CSS to remove social invitations from the side menu, do not remove li. */
li.invitations-social {
    display: none;
}

/* CSS to remove social invitations from the side menu, do not remove li. */
li.invitations-icon {
  display: none;
}

/* CSS for the calendar */
table.calendar		{ 
  border-left:1px solid #ddd; 
  width: 100%; 
}

tr.calendar-row	{ 
  height: 130px; 
  vertical-align: top;
}

td.calendar-day	{  
  font-size:11px; 
  position:relative; 
  background: #ffffff;
} 

* html div.calendar-day { 
  
}

td.calendar-day:hover	{ 
  background:#eceff5; 
}

td.calendar-day-np	{ 
  background:#ddd; 
  min-height:200px; 
} 
* html div.calendar-day-np { 
  height:200px; 
}

td.calendar-day-head { 
  background: #ffffff; 
  font-weight:bold; 
  text-align:center; 
  width:120px; 
  padding:5px; 
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd; 
}

div.day-number		{ 
  background:#9bbfd1; 
  padding:5px; 
  color:#fff; 
  font-weight:bold; 
  float:left; 
  clear:both; 
  margin:-5px -5px 0 0; 
  width:20px; 
  text-align:center; 
}

/* shared */
td.calendar-day, td.calendar-day-np { 
  width:120px; 
  padding:5px; 
  border-bottom:1px solid #ddd; 
  border-right:1px solid #ddd; 
}

.event {
  color:red; 
  font-size: 14px; 
  clear:both; 
  margin-top:30px; 
  text-align:center;
}

.personalevent {
  clear:both; 
  color:blue; 
  font-size: 14px; 
  margin-top:30px; 
  text-align:center;
}
        